<div class="d-flex justify-content-end">
  <div class="mr-auto p-2" style="width:100%;" ">
  	<div class="align-self-start" style="padding: 10px;background-color:black;" ng-repeat="data in series">
		 <a href='' ui-sref='instances({id:id})' ng-click='setseries(data)'><div class="card w-80 "  style="padding: 10px;">
		   
		    <div class="card-block" >
		    <h3 style="border-bottom: 1px solid black;">{{$index+1}}  Type - {{data.Type }} </h3>
		     <p><b>Status </b> - {{data.Status.AccessionNumbe}} </br>
		     <b>BodyPartExamined </b> - {{data.MainDicomTags.BodyPartExamined}}</br>
		     <b>ContrastBolusAgent </b> - {{data.MainDicomTags.ContrastBolusAgent}}</br>
		     <b>Manufacturer </b> - {{data.MainDicomTags.Manufacturer}}</br>
		     <b>Modality </b> - {{data.MainDicomTags.Modality}}</br>
		     <b>OperatorsName </b> - {{data.MainDicomTags.OperatorsName}}</br>
		     <b>SeriesNumber </b> - {{data.MainDicomTags.SeriesNumber}}</br>
		     <b>ProtocolName </b> - {{data.MainDicomTags.ProtocolName}}</br>
		      <b>SeriesInstanceUID </b> - {{data.MainDicomTags.SeriesInstanceUID}}</br>
		     <b>StationName </b> - {{data.MainDicomTags.StationName}}</p> 
		    </div>		   
		  </div>
		 </a> 
	</div>
  </div>
  <div class="p-1 " style="background-color:black;">
  	<div class='align-self-stretch' style="padding: 10px;border-right:1px solid black ">	
		 <div class="card w-100"  style="padding: 10px;width:200px;">
		    <h3>patient - {{patient.PatientID }} </h3>
		    <div class="card-block" >
		      <p><b>PatientID </b> - {{patient.PatientID}}</p>
		    
		      <p><b>PatientSex </b> - {{patient.PatientSex}}</p>
		      <p> to click on card to go furthure</p>
		    </div>
		  </div>
		  	</div>
	 <div class="p-1 " style="background-color:black;">
  	<div class="align-self-start" style="padding: 10px;" >
		<div class="card w-80 "  style="padding: 10px;">
		    <h3 style="border-bottom: 1px solid black;">StudyDescription - s{{study.MainDicomTags.StudyDescription }} </h3>
		    <div class="card-block" >
		     <p><b>AccessionNumber </b> - {{study.MainDicomTags.AccessionNumber}}</p>
		    <p><b>StudyDescription </b> - {{study.MainDicomTags.StudyDescription}}</p>
		      <p><b>InstitutionName </b> - {{study.MainDicomTags.InstitutionName}}</p>
		      <p><b>Series </b> -  {{study.Series.length}}</p>
		      <p><b>ReferringPhysicianName </b> - {{study.MainDicomTags.ReferringPhysicianName}}</p>
		      <p><b>StudyID </b> - {{study.MainDicomTags.StudyID}}</p>
		        <p><b>StudyInstanceUID </b> - {{study.MainDicomTags.StudyInstanceUID}}</p>
		 
		    </div>		   
		  </div>
		 
	</div>
  </div>
  
</div>





